name: "smoke test"

on: [push]

jobs:
  code:
    name: "Python ${{ matrix.python-version }} on ${{ matrix.os}}"

    runs-on: "${{ matrix.os }}"

    strategy:
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
          - windows-latest
        python-version:
          - "3.8"
          - "3.9"
          - "3.10"
      fail-fast: false

    steps:
      - name: Checkout the repo
        uses: actions/checkout@v3

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v3
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install App
        id: install
        run: python setup.py install
        continue-on-error: true

      - name: Check expected result from install
        if: steps.install.outcome != 'success' and ${{ matrix.python-version }} != "3.8"
        run: exit 1

      - name: Smoke Run
        if: steps.install.outcome == 'success' 
        run: rss_reader https://feeds.washingtonpost.com/rss/world --limit 2
